USE [master]
GO
/****** Object:  Database [EBillDB]    Script Date: 20-12-2023 10:22:06 PM ******/
CREATE DATABASE [EBillDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'EBillDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLSERVER\MSSQL\DATA\EBillDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'EBillDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL16.SQLSERVER\MSSQL\DATA\EBillDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [EBillDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [EBillDB]
GO
/****** Object:  Table [dbo].[tbl_BillDetails]    Script Date: 20-12-2023 10:22:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_BillDetails](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[CustomerName] [varchar](255) NULL,
	[MobileNumber] [varchar](255) NULL,
	[Address] [varchar](255) NULL,
	[TotalAmount] [money] NULL,
	[DateTime] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[tbl_BillItems]    Script Date: 20-12-2023 10:22:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[tbl_BillItems](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[ProductName] [varchar](255) NULL,
	[Price] [money] NULL,
	[Quantity] [int] NULL,
	[BillId] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
ALTER TABLE [dbo].[tbl_BillDetails] ADD  DEFAULT (getdate()) FOR [DateTime]
GO
ALTER TABLE [dbo].[tbl_BillItems]  WITH CHECK ADD FOREIGN KEY([BillId])
REFERENCES [dbo].[tbl_BillDetails] ([Id])
GO
/****** Object:  StoredProcedure [dbo].[GetLatestBillId]    Script Date: 20-12-2023 10:22:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE PROCEDURE [dbo].[GetLatestBillId]
AS
BEGIN
    SELECT TOP 1 Id
    FROM tbl_BillDetails
    ORDER BY Id DESC
END
GO
/****** Object:  StoredProcedure [dbo].[spt_getAllBillDetails]    Script Date: 20-12-2023 10:22:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[spt_getAllBillDetails]
as
begin
Select * from tbl_BillDetails;
end
GO
/****** Object:  StoredProcedure [dbo].[spt_getBillDetails]    Script Date: 20-12-2023 10:22:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE procedure [dbo].[spt_getBillDetails]
@Id int
as begin
select d.Id as 'BillId',d.CustomerName,d.MobileNumber,d.Address,d.TotalAmount,d.DateTime,
i.Id as 'ItemId',i.ProductName,i.Price,i.Quantity
from tbl_BillDetails d inner join tbl_BillItems i on d.Id = i.BillId
where d.Id = @Id;
end
GO
/****** Object:  StoredProcedure [dbo].[spt_InsertEBillDetails]    Script Date: 20-12-2023 10:22:07 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
create procedure [dbo].[spt_InsertEBillDetails]
@CustomerName varchar(255),
@MobileNumber varchar(255),
@Address varchar(255),
@TotalAmount Money,
@Id int output
as
begin
insert into tbl_BillDetails(CustomerName, MobileNumber, Address, TotalAmount)
values(@CustomerName,@MobileNumber,@Address,@TotalAmount);

select @Id= SCOPE_IDENTITY();
end
GO
USE [master]
GO
